MODEL_MODE=densenet121
DENSENET121_CHECKPOINT_PATH=checkpoints/densenet121/2026-07-30_09-03-29_850983_UTC_paired_view_yolo_roi/best_model.pth
SE_RESNEXT_CHECKPOINT_PATH=checkpoints/se_resnext50_32x4d/2026-08-08_08-35-38_UTC_linear_gradcam/best_model.pth
YOLO_CHECKPOINT_PATH=checkpoints/yolov8/2026-07-26_20-49-25_joint_detection/best.pt
IMG_SIZE=384
