# densenet121 | se_resnext | efficientnet_b0 | ensemble
MODEL_MODE=densenet121

MODEL_CHECKPOINT_PATH=checkpoints/densenet121/best_model.pth
EXPECTED_MODEL_ARCHITECTURE=final_linear_native_cam

SE_RESNEXT_CHECKPOINT_PATH=checkpoints/se_resnext50_32x4d/best_model (1).pth
EXPECTED_SE_RESNEXT_ARCHITECTURE=final_native_cam_ce

EFFICIENTNET_B0_CHECKPOINT_PATH=checkpoints/efficientnet_b0/best_model.pth
EXPECTED_EFFICIENTNET_B0_ARCHITECTURE=efficientnet_b0_final_native_cam_ce

ENSEMBLE_DENSENET_WEIGHT=0.55
ENSEMBLE_SE_RESNEXT_WEIGHT=0.45
ENSEMBLE_EFFICIENTNET_B0_WEIGHT=0.00

YOLO_CHECKPOINT_PATH=checkpoints/yolov8/best.pt
IMG_SIZE=384
CROP_SIZE=384
ORDINAL_TYPE=ce
