MODEL_MODE=densenet121
MODEL_CHECKPOINT_PATH=checkpoints/densenet121/2026-07-27_04-05-44_natural_orientation_ce_gradcam/best_model.pth
YOLO_CHECKPOINT_PATH=checkpoints/yolov8/2026-07-26_20-49-25_joint_detection/best.pt
